!.mvn/wrapper/maven-wrapper.jar
*/target/
/target/
*.class
*/.settings/
.settings/
*/catalina.base_IS_UNDEFINED/
/catalina.base_IS_UNDEFINED/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
